{{ define "main" }}

<div class="container">
  <div class="py-5 rounded-3">
    <div class="container-fluid py-2">
      <h1 class="display-2 mb-4">{{ .Title }}</h1>
      <p class="bio col-md-8 fs-4 serif">{{ .Summary }}</p>
    </div>
  </div>
</div>

<div class="container">
  {{ range .Pages.ByPublishDate.Reverse }}
    <div class="card mb-4 p-4 shadow-sm">
      <h3 class="mb-2">
        <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>

      {{/* 日期 */}}
      {{ with .Date }}
        <small class="text-muted">{{ .Format "Jan 2, 2006" }}</small>
      {{ end }}

      {{/* 摘要：先用 description，没有就用 summary */}}
      {{ with .Params.description | default .Summary }}
        <p class="mt-2">{{ . }}</p>
      {{ end }}

    </div>
  {{ end }}
</div>

{{ end }}
